<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction to the Website</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Welcome to this Website.<br> We will be Learning about Information Retrieval process with the help of AI!. </h1>
    <a href="prac.html" target="_parent">To go the main page in this window only please click here.</a><br>
    <br>
    <a href="prac.html" target= "_blank">To go the main page in another window please click here.</a>


</body>
</html>